<!DOCTYPE html>
<html>
  <head>
    <title>Alex Chumbley</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="well text-center">
          <h1>Admin Interface</h1> 
        </div>
      </div>
    </div>
  </body>
</html>