<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Chumbley</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="/stylesheets/index.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/favicon.ico" />
    <link rel="apple-touch-icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/apple-touch-icon.png" />
     
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" id='nav'>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Alex Chumbley</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/articles/mostRecent">Blog</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Work <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/projects">Projects</a></li>
                <li class="divider"></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="http://www.mit.edu/~chumbley">MIT personal site</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class='container' id='main'>
         
      <section id="slide-1" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
          <div class="hsContainer">
            <div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 h2">
              <h2>Welcome</h2>
              <div class="span 9" id="subtitle2">  
                <div class="well text-center">
                  <h4 id="introText">My name is Alex Chumbley. I am a senior CS major at MIT. You can find my mit hosted website 
                      <a href="www.mit.edu/~chumbley">here</a> (why not take advantage of a .mit website?)</h4>  
                </div>
              </div>
              <!--<div class="span 9" id="subtitle2">  
                  <div class="well text-center">
                    <h4>This is a place where I can put links to any projects I do. It's a place where potential employers can see who
                      I am and what I like to do. And it's a place where I can write about things that interest me.</h4>     
                  </div>
                </div>
            </div>-->
          </div>
        </div>
      </section>
        
      <section id="slide-2">
        <div class="bcg" data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);"  data-anchor-target="#slide-2">
          <div class="hsContainer">
            <div class="hsContent">
              <h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">Who am I?</h2>
              <p data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">I love solving problems with people. There's nothing I like doing more than getting in a room with people
              and working together, bouncing ideas around, and getting to the best answer.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg" data-center="background-position: 0px 50%;" data-bottom-top="background-position: 0px 40%;" data-top-bottom="background-position: -40px 50%;" data-anchor-target="#slide-3">
            <div class="hsContainer">
              <div class="hsContent">
                <div class="plaxEl" data-106-top="opacity: 0" data--30p-top="opacity: 1;" data--60p-top="opacity: 0;" data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"  data-anchor-target="#slide-3">
                  <h2>Fixed element fading in and out</h2>
                  <p><span class="bgBlack">Text is fixed 206 pixels from the top, while the background is moving 40 pixels to the left.</span></p>
                  <p><span class="bgBlack">Or did you think that the scooter is driving off?</span></p>
                </div>
              </div>
            </div>
            
          </div>
      </section>
          
      <section id="slide-4" class="homeSlide homeSlideTall">
        <div class="bcg" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-4">
          <div class="curtainContainer">
      
            <div class="curtain" data-bottom-top="opacity: 0" data-106-top="height: 1%; opacity: 0; top: -10%;" data-center="height: 100%; opacity: 0.5; top: 0%;" data-anchor-target="#slide-4"></div>
            <div class="copy" data-bottom-top="opacity: 0" data--100-bottom="opacity: 0" data--280-bottom="opacity: 1;" data-280-top="opacity: 1;" data-106-top="opacity: 0;" data-anchor-target="#slide-4 .copy">
              <h2>Curtain effect while you scroll</h2>
            </div>
            
          </div>
        </div>
      </section>
      
      <section id="slide-5" class="homeSlide homeSlideTall2">
        <div class="bcg">
          &nbsp;
        </div>
        <div class="bcg bcg3" data-300-bottom="opacity: 0;" data-100-bottom="opacity: 1;" data-anchor-target="#slide-5">
          <div class="hsContainer">
            <div class="hsContent" data-100-bottom="opacity: 0;" data-bottom="opacity: 1;" data-anchor-target="#slide-5">
              <h2>The End</h2>
              <p>Not enough parallax goodness? Let me know in the comments or hit me up at <a href="https://www.twitter.com/ihatetomatoes" target="_blank">@ihatetomatoes</a>.<br /><br /></p><p> Go to Part 2, where we will add <a href="https://ihatetomatoes.net/how-to-create-a-parallax-scrolling-website-part-2/">one page navigation</a>.</p>
            </div>
          </div>
        </div>
      </section>
        
    </div>

    <!-- Load JS at end -->
    <script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="/javascripts/imagesLoaded.js"></script> 
    <script type="text/javascript" src="/javascripts/waypoints.min.js"></script> 
    <script type="text/javascript" src="/javascripts/skrollr.js"></script> 
    <script type="text/javascript" src="/javascripts/index.js"></script> 
  </body>
</html>
